@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital@1&family=Outfit:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

h2,a ,p{
    text-decoration: none;
}

ul{
    list-style-type: none;
}
